@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';



@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
/* //frontpage */
/* App.css */

@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';


body {
  margin: 0;
  padding: 0;
}

.root {
  background-color: rgba(0, 0, 0, 0.5); /* Adjust the alpha value as needed */
  background-image: url("img/backgroundjpg.jpg");
  /* z-index: 1; */
  /* opacity: 0.5; */
  /* position: relative;
  background-size: cover;
  background-position: center;
  position: relative; */
}

.root img {
  background-color: rgba(0, 0, 0, 0.5); /* Adjust the alpha value as needed */
  background-image: url("img/backgroundjpg.jpg");
  z-index: 1;
  opacity: 0.5;
  position: relative;
  background-size: cover;
  background-position: center;
  position: relative;
}


.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.3);
  /* Semi-transparent white overlay */
}

/* Header styles */
.nav {
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3.8% 4%;
}

.img-logo {
  width: 9%;
}

.btn-sign-in {
  padding: 10px 25px;
  background-color: rgb(220, 42, 42);
  color: white;
  font-size: larger;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  width: fit-content;
}

.btn-sign-in:hover {
  background-color: rgb(225, 50, 85);
}

/* Main content styles */
.main {
  margin-top: 4rem;
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: rgb(17, 12, 1);
}

.main-titles {
  color: rgb(255, 255, 255);
  /* Updated title color to dark red */
  font-family: 'Poppins', sans-serif;
  text-align: center;
  width: 80%;
}

.main-subtitles {
  font-size: 3.2rem;
}

.main-call {
  margin-bottom: 0;
  /* Removed extra padding */
}

.cont {
  margin: 20px 0px;
  padding: 10px 10px;
}

.btn {
  padding: 15px 30px;
  background-color: rgb(220, 42, 42);
  color: white;
  font-size: larger;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  width: fit-content;
}

.btn:hover {
  background-color: rgb(186, 2, 2);
}

/* Media queries for responsiveness */
@media (max-width: 768px) {

  /* Adjustments for smaller screens */
  .img-logo {
    width: 15%;
  }

  .main-subtitles {
    margin: auto;
  }

  .btn-sign-in {
    font-size: medium;
  }

  .main-titles {
    width: 90%;
  }

  .main-subtitles {
    font-size: 2rem;
  }
}

@media (max-width: 650px) {

  /* Adjustments for screens below 650px */
  .img-logo {
    width: 20%;
  }

  .nav {
    padding: 3.8% 2%;
  }

  .btn-sign-in {
    font-size: small;
  }

  .main {
    height: 70vh;
  }

  .main-titles {
    width: 95%;
  }

  .main-subtitles {
    font-size: 0.8rem;
  }

}






/* cart  */
.cards {
  background-color: black;
  display: flex;
  flex-direction: column;
  height: 400px;
  align-items: center;
  justify-content: center;
  font-family: 'Poppins', sans-serif;
}

.line {
  left: 0;
  bottom: 0;
  width: 100%;
  height: 8px;
  background-color: rgb(44, 42, 42);
}

.Card {
  background-color: black;
  display: flex;
  flex-direction: row;
  height: 500px;
  align-items: center;
  justify-content: center;
  max-width: calc(83.33333333333334% - 6rem);
}

.card-content {
  font-size: larger;
  width: 50%;
  color: white;
  font-family: 'Poppins', sans-serif;
}

.mini-cart {
  width: 50%;
  padding: 0px 20px;
}

.img-container {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-container img {
  height: 20rem;
}

.cart-line {
  width: 100px;
  height: 10px;
  background-color: rgb(61, 56, 56);
  margin-bottom: 10px;
}

@media screen and (max-width: 930px) {
  .cards {
    height: 18.5rem;
  }

  .card {
    /* flex-direction: column; */
    height: auto;
    max-width: calc(83.33333333333334% - 3rem);
  }

  .card-content {
    max-width: 80%;
  }

  .card-content {
    width: 100%;
    margin-bottom: 1rem;
  }

  .img-container {
    width: 100%;
  }

  .img-container img {
    height: 15rem;
  }

  .line {
    bottom: unset;
    top: 0;
    position: sticky;
  }


  .img-container img {
    height: 15rem;
  }
}


/* Media queries for responsiveness */
@media screen and (max-width: 770px) {
  .cards {
    height: 28rem;
  }

  .card {
    flex-direction: column;
    height: auto;
    align-items: center;
  }

  .card-content {
    width: 100%;
    margin-bottom: 1rem;
  }

  .img-container {
    width: 100%;
  }

  .img-container img {
    height: 15rem;
  }
}

@media screen and (max-width: 625px) {
  .cards {
    height: 35rem;
  }

  .card-content {
    max-width: 95%;
  }
}





@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

.back-to-top {
  background-color: #222;
  color: #fff;
  padding: 10px 0;
  text-align: center;
}

.card-body {
  text-align: left;
  word-break: break-word;
}

.back-to-top a {
  color: #fff;
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  font-family: 'Poppins', sans-serif;
}

.footer {
  background-color: #000;
  color: #fff;
  padding: 30px 0;
  font-family: 'Poppins', sans-serif;
  text-align: center;
  position: relative;
}

.footer ul {
  list-style: none;
  /* padding-left: 0;/Set left padding to 0/ margin-right: 20px; */
  display: flex;
  justify-content: center;
  text-decoration: underline;
  padding-right: 10px;
  /* flex-wrap: wrap;/Allow the lists to wrap/ justify-content-center;/Center the content/ */
}

.footer ul li {
  display: flex;
  flex-basis: 25%;
  /* Adjust the flex-basis property to control the column width */
  margin-left: 10px;
}

.footer ul li a {
  color: #f3f3f3;
  text-decoration: none;
  font-size: 14px;
  font-weight: 500;
}

.footer #query {
  margin-top: 20px;
  font-size: 14px;
  font-weight: bold;
  font-style: italic;
}

.footer .social-icons {
  margin-top: 20px;
}

.footer #netflix {
  text-align: center;
  font-style: italic;
  font-size: xx-large;
  color: rgb(128, 255, 0);
}

.footer .social-icons a {
  color: #fff;
  margin-right: 10px;
  font-size: 16px;
}

.footer p {
  margin-top: 20px;
  font-size: 14px;
  font-weight: bold;
}

.footer .dropdown {
  position: absolute;
  left: 30px;
  /* Update from "right: 0" to "left: 0" */
  bottom: 10px;
  /* Add this line */
  margin-bottom: 10px;
  /* Add this line for spacing */
}

/* Dropdown Menu */
.dropdown-menu {
  position: absolute;
  left: 0;
  /* Update from "right: 0" to "left: 0" */
  top: 100%;
  /* Update from "bottom: 100%" to "top: 100%" */
  background-color: #323131;
  min-width: 150px;
}

.FAQ {
  /* background-image: url(./img/background.jpg); */
  background-color: #323131;
}

.FAQ p {
  font-size: 2rem;
  /* Adjust the font size as needed */
  font-weight: bold;
  font-family: 'Poppins', sans-serif;
  text-align: center;
  margin: 2rem 0;
  /* Add margin for spacing */
  white-space: nowrap;
  /* Prevent line breaks */
  overflow: hidden;
  /* Hide overflowing text */
  text-overflow: ellipsis;
  /* Add ellipsis (...) for truncated text */
}

/* Add this CSS code to your existing CSS or the <style> section */

.btn-link {
  color: aqua;
  /* Change the color to your desired value */
  font-weight: bold;
  /* Add any other desired styles */
  /* Add more CSS properties as needed */
}

.btn-link-collapsed {
  color: red;
  /* Change the color to your desired value */
  font-weight: bold;
  /* Add any other desired styles */
  /* Add more CSS properties as needed */
}

#accordion {
  margin-bottom: 10px;
  padding-right: 35px;
  padding-left: 13px;
  padding-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  max-width: 600px;
  /* Adjust the max-width value as needed */

}

.card {
  margin-bottom: 3px;
}

.btn.btn-link {
  position: relative;
}

/* Media Query for smaller devices */
@media (max-width: 576px) {
  .FAQ p {
    font-size: 1.5rem;
    margin: 1rem 0;
  }
}


.btn.btn-link::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 50%;
  height: 2px;
  background-color: lightblue;
  /* Adjust the color as needed */
  transition: width 0.3s ease;
}

.btn.btn-link:hover::before {
  width: 100%;
  background-color: coral;
}

#fq {
  position: relative;
  color: rgb(251, 255, 0);
}

#fq::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 50%;
  height: 2px;
  background-color: rgba(38, 255, 0, 0.734);
  /* Adjust the color as needed */
  transition: width 0.3s ease;
}

#fq:hover::before {
  width: 100%;
  background-color: indigo;
}



/* Home page */
.carousel-container {
  overflow-x: hidden;
}

.carousel {
  display: flex;
  width: fit-content;
  transition: all 0.3s ease;
}

.scroll-container {
  display: flex;
  overflow-x: scroll; /* This creates the horizontal scroll bar */
  scroll-behavior: smooth; /* This adds smooth scrolling behavior */
  white-space: nowrap; /* Prevents content from wrapping to a new line */
}

